:host {
  font-size: 15vw;
  text-shadow: 2px 2px 4px grey;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  line-height: 1em;
  text-align: center;
}
